:root {
  --darkblue: #1200AD;
  --blue: #1F86CC;
  --ligthblue: #598FB2;
  --orange: #FF7F2C;
  --purple: #5541FF;
  --limegreen: #30CC1F;
  --teagreen: #5FB256;
  --yellow: #FFFC2C;
  --red: #FF4141;
  --black: #120000;
  --white: #e6e6e6;
}